<h2>Courses</h2>
<!-- <ul *ngFor="let course of courses">
  <li>{{course}} Course</li>
</ul> -->
<!-- <img src="{{imgUrl}}" > -->
<!-- <img [src]="imgUrl" > 
<table>
  <tr>
    <td [attr.colspan]="colSpan"></td>
  </tr>
</table> -->
<!-- <div (click)="onDiv()">
  <button class="btn btn-primary" [style.backgroundColor]="isActive ? '':'white'" (click)="onSave($event)">save</button>
</div> -->
<!-- <input type="text" (keyup.enter)="onKeyup($event)"> -->
<!-- <input type="text" #email (keyup.enter)="onKeyup(email.value)"> -->
<!-- <input type="text" [value]="email" (keyup.enter)="onKeyup()"> -->
<!-- <input type="text" [value] = "email" (keyup.enter)="email = $event.target.value; onKeyup()"> -->
<!-- <ul *ngFor = "">
  <li></li>
</ul>
<input type="text" [(ngModel)] = "email" (keyup.enter)="onKeyup()"> -->
<!-- <p>{{courses.title | uppercase}}</p>
<p>{{courses.students | number}}</p>
<p>{{courses.rating | number:'1.1-1'}}</p>
<p>{{courses.price | currency:'krw':true}}</p>
<p>{{courses.releseDate| date:'shorDate' }}</p> -->
{{text | summary:10}}
